@media screen and (max-width: 1024px) {
	.banner {
		min-height: 450px;
	}
	#header .header-content {
		width: 90%;
	}
	.nav-toggle {
		display: block;
	}
	.navigation {
		position: fixed;
		background-color: #000;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 99999;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
		transition: opacity 0.5s, visibility 0s 0.5s;
	}
	.navigation .primary-nav {
		position: relative;
		top: 45%;
		-moz-transform: translateY(-45%);
		-ms-transform: translateY(-45%);
		-webkit-transform: translateY(-45%);
		transform: translateY(-45%);
	}
	.navigation li {
		display: block;
		margin-bottom: 20px;
	}
	.navigation a {
		display: block;
		font-size: 25px;
		margin: 0;
		text-align: center;
	}
	
	/* Mobile Language Selector Styles */
	.language-selector .language-toggle {
		font-size: 25px;
		display: none;
	}
	
	.language-dropdown {
		position: static;
		opacity: 1;
		visibility: visible;
		transform: none;
		box-shadow: none;
		border: none;
		background: transparent;
		margin-top: 10px;
	}
	
	.language-dropdown li {
		margin-bottom: 15px;
		border: none;
	}
	
	.language-dropdown a {
		font-size: 20px;
		color: #808080;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5px;
	}
	
	.language-dropdown img {
		vertical-align: middle;
	}
	.person {
		margin: 0 auto 50px;
	}
	.person-content {
		text-align: center;
	}
	.person .social-icons li {
		display: inline-block;
		float: none;
		margin-bottom: 5px;
	}
	.testimonials blockquote {
		padding: 20px 5% 0;
	}
	.testimonials p {
		font-size: 26px;
	}
	.flex-control-nav {
		bottom: 20px;
	}
}

@media screen and (max-width: 768px) {
	.banner-text {
		padding-top: 30%;
		padding-left: 0%;
	}
	.banner-text h1 {
		font-size: 24px;
	}
	.banner-text p {
		font-size: 15px;
	}
	.flexslider {
		padding-bottom: 80px;
	}
	.flex-control-nav {
		width: 100%;
	}
	.footer .footer-col {
		margin-bottom: 50px;
	}

	.banner {
		background-image: url(../images/mobile_banner.jpg);
	}

	#mobile-levon-image {
		display: block;
		width: 250px;
		margin: 0 auto;
		text-align: center;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 30px);
	}
}

@media screen and (max-width: 640px) {
	.banner-text {
		padding-top: 10%;
		text-align: center;
	}

	.banner {
		background-position: revert;
		/* min-height: 750px; */
	}

	.banner-inner-wrapper {
		float: none;
	}
}

@media screen and (max-width: 480px) {
	.banner-text {
		padding-top: 21%;
		text-align: center;
	}
	.banner-text h1 {
		font-size: 21px;
	}
	.banner-text p {
		font-size: 13px;
	}
	.banner {
		height: 30px!important;
	}
}

@media screen and (max-width: 320px) {
	.banner {
		height: 30px!important;
	}
	.banner-text {
		padding-top: 55%;
		text-align: center;
	}
	.banner-text h1 {
		font-size: 21px;
	}
	.banner-text p {
		font-size: 13px;
	}
	.testimonials blockquote {
		padding: 20px 5% 0;
	}
	.testimonials p {
		font-size: 26px;
	}
}
